body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-break: 1.7;
  color: $color-grey;
  
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;

  

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 4250;
    letter-spacing: 1.7rem;
    animation: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    @include respond(tab-port) {

      margin-right: 8rem;
    }

    @include respond(phone) {
      letter-spacing: 1rem;
      font-family: 5rem;
      margin-right: 8rem;
    }
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    animation: moveInRight 2s ease-out;

    @include respond(tab-port) {
      letter-spacing: .5rem;
      text-align: center;
      margin-right: 6rem;
    
    }

    @include respond(phone) {
      letter-spacing: .5rem;
      text-align: center;
      margin-right: 6rem;
    
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: 2px;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
  &:hover {
      transform: skewY(2deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba black;
  }

}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
