.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba($color-black, 0.15);
 

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
}  

}


.icon {
  padding-bottom: 7px;
}

.heading-tertiary {
  padding-top: 5px;
  color: $color-primary;
}
