.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 130%;

    //Change for the  <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 3rem 3rem ($color-black, 0.2);
  }

  &:active,
  &:focus
   {
     outline: none;
    transform: translateY(-2rem);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey;

    &::after {
      color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &--animated {
    animation: moveInBottom 0.8s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem ($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 1rem 2rem ($color-black, 0.15);
    transform: translateY(-2px);
  }
}
